<header>
	<div>
		<img src="" alt="">
		<div>
			{{ address.name }}
			{{ address.street }}, {{ address.city }}, {{ address.state }}, {{ address.zip }}
			{{ address.phone }}
			{{ address.email }}
		</div>
		<fieldset>
			Search...
		</fieldset>
	</div>
	<nav>
		<div>
			<a href="#" class="upper">Select Vehicle</a>
			<a href="#" class="upper">Parts</a>
			<a href="#" class="upper">Accessories</a>
			<a href="#" class="upper">VW DriverGear</a>
			<a href="#" class="upper">Dealer Login</a>
		</div>
		<div>
			cart icon
		</div>
	</nav>
</header>